.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    padding: 10px;
    text-decoration: none;
    color: darkblue;
}

.dialogsItems a.activeLink {
    color: gold;
}

.dialog {
    text-decoration: none;
    color: green;
}

.messages {
    padding: 10px;
}

.message {
    
}